@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primaryColor: #4051b5
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend', sans-serif;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: #1e1e1e;
}


.circle {
  width: 60px;
  height: 60px;
  text-align: center;
}

.circle-lg {
  width: 70px;
  height: 70px;

}

.glass-nav {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
}

.auth-form>.form-control,
.auth-form>.btn,
.btn-hg {
  height: 3.12rem;
}

.auth-form>.form-control:focus {
  outline: 0;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo', sans-serif;
}

input,
button {
  height: 50px;
}

.bg-primaryColor {
  background-color: var(--primaryColor);
  color: #fff;
}

.btn.bg-primaryColor:hover,
.btn.bg-primaryColor:active {
  background-color: #303b7d;
  color: #fff;
}

a.bnav-active {
  color: var(--primaryColor);
}

.bnav-active svg {
  fill: var(--primaryColor);
}

.bnav-active svg>path {
  stroke: var(--primaryColor);
}

.big-text {
  font-size: 45px;
  font-weight: 900;
  color: var(--primaryColor);
}